body {
    font-family: Hachi Maru Pop, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
  text-align: center;
  font-family: Hachi Maru Pop;
}

/* Navigation menu styles */
ul {	
  list-style-type: none;
  margin: 10px;
  padding: 0;
}

ul li {
  display: inline;
}

ul li a {
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
  background-color: #95c68dcc;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

ul li a:hover {
  background-color: #95c68dcc;
}

form {
    margin-top: 20px;
}

table {
  width: 100%;
}

table td {
  padding: 10px;
}

input[type="text"],
input[type="submit"] {
  padding: 8px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  padding: 8px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  background-color: #385336b2;
  color: white;
  border: none;
}

input[type="submit"]:hover {
  background-color: #385336b2;
}

/* Responsive Design */
@media screen and (max-width: 600px) {
  ul li {
    display: block;
    margin-bottom: 10px;
  }
  
  ul li a {
    display: block;
    width: 100%;
  }

    table {
        width: 100%;
    }

    input[type="text"],
    input[type="submit"] {
        width: 100%;
        box-sizing: border-box;
    }
}
